h1{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  color: blue;
}
h2{
  font-size: 20px;
  text-align: center;
}
.button{
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-decoration: none
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a:hover{
  color: blue;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-decoration: none
}
