html{
  background: url(cieletoile.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
div{
  width: 640px;
  height: 540px;
  background-color: #FFF;
}
