html{
  background: url(cieletoile.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
div{
  background-color: rgba(255,255,255,0.7);
  width: 640px;
  height: 1080px;
}
