.special{
    padding: 5px 5px;
    background: rgba(255,255,255);
    border: 10px solid red;
    border-radius: 20px;
    font-family: Playfair Display;
    font-size: 50px;
}
h3{
    font-family: Playfair Display;
    text-decoration: underline;
}
ul{
    text-align: center;
}
li{
    list-style-type: none;
    padding: 5px 5px;
    background: rgba(255,192,203,0.5);
    border: 1px solid blue;
    border-radius: 5px;
    width: 70%;
    display: inline-block;
    font-family: Playfair Display;
}
