h2{
  font-family: Playfair Display;
}
h2{
  font-size: 50px;
}
h3{
  font-family: Caveat;
  font-size: 30px;
  text-decoration: underline deepskyblue;
}
h4{
  font-family: Caveat;
  font-size: 20px;
  color: crimson;
}
li{
  font-family: Playfair Display;
  font-size: 20px;
  width: 70%;
}
li::marker{
  content: "■";
  color: red;
}
